p {
  border: 2px solid yellowgreen;
  color: red;
  background-color: yellow;
  font-family: "Six Caps", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 33px;
  line-height: 1.5em;
  font-weight: bold;
  font-style: oblique;
}

/* * {
  box-sizing: border-box;
} */

#first {
  color: black;
  background-color: red;
  height: 5em;
  width: 5em;
  border-width: 5px;
  border-color: black;
  border-radius: 10px;
}

#second {
  color: black;
  background-color: lightsteelblue;
  height: 5em;
  width: 5em;
  border-top-color: black;
  border-right-color: red;
  border-left-color: purple;
  border-bottom-color: white;
  border-top-left-radius: 10px;
}

#third {
  margin: 0px;
  padding: 0px;
  height: 590px;
  width: 771px;
  border: 2px solid red;
  background-image: url(img.png);
  background-repeat: no-repeat;
}

footer {
  background-color: red;
  border: 2px solid yellow;
}
